services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    hostname: postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - metapost

  pgadmin:
    image: dpage/pgadmin4:7
    container_name: pgadmin
    hostname: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    ports:
      - ${PGADMIN_PORT}:80
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - metapost

  metabase:
    image: metabase/metabase:v0.48.1
    container_name: metabase
    hostname: metabase
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase_config  # ← ОТДЕЛЬНАЯ БАЗА ДЛЯ КОНФИГА
      MB_DB_HOST: postgres
      MB_DB_PORT: 5432
      MB_DB_USER: postgres
      MB_DB_PASS: postgres
      MB_EMBEDDING_SECRET_KEY: ${METABASE_SECRET_KEY:-supersecretkey}
    ports:
      - ${METABASE_PORT}:3000
    volumes:
      - metabase_data:/metabase-data
    networks:
      - metapost
    depends_on:
      - postgres

  superset:
    image: apache/superset:latest
    container_name: superset
    environment:
      - SUPERSET_SECRET_KEY=supersecretkey
      - DATABASE_DB=superset
      - DATABASE_HOST=postgres
      - DATABASE_PASSWORD=postgres
      - DATABASE_USER=postgres
      - DATABASE_PORT=5432
    ports:
      - 8088:8088
    networks:
      - metapost
    depends_on:
      - postgres
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8088/health" ]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  postgres_data:
    driver: local
  pgadmin_data:
    driver: local
  metabase_data:
    driver: local

networks:
  metapost:
    driver: bridge

